/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# PhpStorm
.idea/

# Panel
.user.ini
.htaccess

# clockwork
/storage/clockwork
/config/clockwork.php

# other
/public/.well-known
